TestTask/Connected Services/DataService/Data.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52315/Data.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DataService" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchField" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetDataResult" nillable="true" type="q1:ArrayOfSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastResult">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastResultResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataService" minOccurs="0" name="GetLastResultResult" nillable="true" type="q2:ArrayOfSetting" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>